body {
    font-family: 'Poppins', sans-serif;
}

.articles-blog {
    padding: 30px;
    width: 800px;
    border-radius: 25px;
    margin: 50px;
    background-color: #F4F4F4;
}

input {
    width: 200px;
    font-size: x-large !important;
    border-radius: 15px !important;
}

input:hover{
    background: #0d6efd;
}